<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <form action="/users" method="POST">
      <label>Name:</label>
      <input type="text" name="username" required />

      <label>Email:</label>
      <input type="email" name="email" required />

      <label>Password:</label>
      <input name="password"></input>

      <button type="submit">Create Profile</button>
    </form>
  </body>
</html>
